body {
    padding: 0;
    margin: 0;
    background-color: #eaedf4;
}

.header {
    width: 100%;
    height: 83px;
    background-color: #3e5c9a;
    color: white;
    font-family: calibri;
}

.h-1 {
    width: 980px;
    margin: auto;
}

.h-1 h1 {
    margin: 0;
    font-size: 46px;
    padding: 10px 0;
    float: left;
}
.formh {
    width: 390px;
    float: right;
    padding-top: 15px;
}

.formh label {
    width: 150px;
    display: block;
    float: left;
    margin-left: 12px;
}

#txtb {
    border: 1px solid;
    height: 159px;
    margin-right: 6px;
    padding: 3px o;
}

#btn {
    background-color: #4267b2;
    color: white;
    padding: 3px 8px;

}


.formh a {
    text-decoration: none;
    margin-left: 162px;
    color: #9cb4d8;

}

.header1 {
    color: #333;
    direction: ltr;
    display: inline-block zoom: 1;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    height: 72px;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0;
    margin-left: 150px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;

}

.header2 {
    float: right;
    width: 55%;
    margin-top: -550px;
    margin-right: 155px;
    font-size: 25px;

}

.pic1 {
    color: #333;
    direction: ltr;
    display: inline-block zoom: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    height: 72px;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;

}

.pic2 {
    color: #333;
    direction: ltr;
    display: inline-block zoom: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    height: 72px;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0;
    margin-left: 75px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;
    display: -webkit-box;


}

.pic3 {
    color: #333;
    direction: ltr;
    display: inline-block zoom: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    height: 72px;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0;
    margin-left: 75px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;
    display: -webkit-box;



}


.pix1a {

    color:102, 102, 102;
    direction: ltr;
    display: inline;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    margin-left: 10px;
    width: auto;
    -webkit-font-smoothing: subpixel-antialiased;

}
.pix2a {

    color:102, 102, 102;
    direction: ltr;
    display: inline;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    margin-left: 10px;
    width: auto;
    -webkit-font-smoothing: subpixel-antialiased;

}
.pix3a {

    color:102, 102, 102;
    direction: ltr;
    display: inline;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    margin-left: 10px;
    width: auto;
    -webkit-font-smoothing: subpixel-antialiased;

}

img{

     color: 29, 33, 41;
     direction: ltr;
     display: inline-block;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 12px;
     height: 43px;
     line-height: 16.08px;
     margin-right: 20px;
     text-align: center;
     vertical-align: middle;
     width: 55px;
     -webkit-font-smoothing: subpixel-antialiased;


 }
img1 {

    color: 29, 33, 41;
    direction: ltr;
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 43px;
    line-height: 16.08px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 55px;
    -webkit-font-smoothing: subpixel-antialiased;


}

img2 {

    color: 29, 33, 41;
    direction: ltr;
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 43px;
    line-height: 16.08px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 55px;
    -webkit-font-smoothing: subpixel-antialiased;


}

.head1 {

    float: right;
    width: 55%;
}

.sec {
    margin-top: -15px;
    float: right;
    margin-right: 160px;
    color:51, 51, 51;
    direction: tr;
    display: block;
    font-family: Freight Sans, Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 23.94px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;

}


